<%- include('./header') %>
<style>
  .main-login {
    background: #01162a;
  }
</style>
  <div class="main-login">
    <div class="content-main-login">
      <h1>Editar Vaga</h1>
      
      <form action="/empresa/vagas/editar/<%= vaga.id %>" method="POST">
        <label for="titulo">Título da Vaga:</label>
        <input type="text" id="titulo" name="titulo" value="<%= vaga.titulo %>" required>
        
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" required><%= vaga.descricao %></textarea>
        
        <label for="cargo">Cargo/Função:</label>
        <input type="text" id="cargo" name="cargo" value="<%= vaga.cargo %>" required>
        
        <label for="faixaSalarial">Faixa Salarial:</label>
        <select id="faixaSalarial" name="faixaSalarial" required>
          <option value="Até 2.000" <%= vaga.faixaSalarial === 'Até 2.000' ? 'selected' : '' %>>Até 2.000</option>
          <option value="A partir de R$ 2.000,00" <%= vaga.faixaSalarial === 'A partir de R$ 2.000,00' ? 'selected' : '' %>>A partir de R$ 2.000,00</option>
          <option value="A partir de R$ 3.000,00" <%= vaga.faixaSalarial === 'A partir de R$ 3.000,00' ? 'selected' : '' %>>A partir de R$ 3.000,00</option>
          <option value="A partir de R$ 4.000,00" <%= vaga.faixaSalarial === 'A partir de R$ 4.000,00' ? 'selected' : '' %>>A partir de R$ 4.000,00</option>
          <option value="A partir de R$ 5.000,00" <%= vaga.faixaSalarial === 'A partir de R$ 5.000,00' ? 'selected' : '' %>>A partir de R$ 5.000,00</option>
          <option value="A partir de R$ 6.000,00" <%= vaga.faixaSalarial === 'A partir de R$ 6.000,00' ? 'selected' : '' %>>A partir de R$ 6.000,00</option>
          <option value="A partir de R$ 7.000,00" <%= vaga.faixaSalarial === 'A partir de R$ 7.000,00' ? 'selected' : '' %>>A partir de R$ 7.000,00</option>
          <option value="A partir de R$ 8.000,00" <%= vaga.faixaSalarial === 'A partir de R$ 8.000,00' ? 'selected' : '' %>>A partir de R$ 8.000,00</option>
          <option value="A partir de R$ 9.000,00" <%= vaga.faixaSalarial === 'A partir de R$ 9.000,00' ? 'selected' : '' %>>A partir de R$ 9.000,00</option>
          <option value="A partir de R$ 10.000,00" <%= vaga.faixaSalarial === 'A partir de R$ 10.000,00' ? 'selected' : '' %>>A partir de R$ 10.000,00</option>
        </select>

        <label for="tipoContrato">Tipo de Contrato:</label>
        <select id="tipoContrato" name="tipoContrato" required>
          <option value="CLT" <%= vaga.tipoContrato === 'CLT' ? 'selected' : '' %>>CLT</option>
          <option value="PJ" <%= vaga.tipoContrato === 'PJ' ? 'selected' : '' %>>PJ</option>
          <option value="Temporário" <%= vaga.tipoContrato === 'Temporário' ? 'selected' : '' %>>Temporário</option>
          <option value="Estágio" <%= vaga.tipoContrato === 'Estágio' ? 'selected' : '' %>>Estágio</option>
          <option value="Freelancer" <%= vaga.tipoContrato === 'Freelancer' ? 'selected' : '' %>>Freelancer</option>
        </select>

        <label for="disponibilidade">Disponibilidade:</label>
        <select id="disponibilidade" name="disponibilidade" required>
          <option value="Imediata" <%= vaga.disponibilidade === 'Imediata' ? 'selected' : '' %>>Imediata</option>
          <option value="15 dias" <%= vaga.disponibilidade === '15 dias' ? 'selected' : '' %>>15 dias</option>
          <option value="30 dias" <%= vaga.disponibilidade === '30 dias' ? 'selected' : '' %>>30 dias</option>
        </select>

        <label for="horarioTrabalho">Horário de Trabalho:</label>
        <textarea id="horarioTrabalho" name="horarioTrabalho" required><%= vaga.horarioTrabalho %></textarea>

        <label for="tipoTrabalho">Tipo de Trabalho:</label>
        <select id="tipoTrabalho" name="tipoTrabalho" required>
          <option value="Presencial" <%= vaga.tipoTrabalho === 'Presencial' ? 'selected' : '' %>>Presencial</option>
          <option value="Híbrido" <%= vaga.tipoTrabalho === 'Híbrido' ? 'selected' : '' %>>Híbrido</option>
          <option value="Remoto" <%= vaga.tipoTrabalho === 'Remoto' ? 'selected' : '' %>>Remoto</option>
        </select>

        <label for="escolaridade">Escolaridade:</label>
        <select id="escolaridade" name="escolaridade" required>
          <option value="Ensino fundamental" <%= vaga.escolaridade === 'Ensino fundamental' ? 'selected' : '' %>>Ensino fundamental</option>
          <option value="Ensino médio" <%= vaga.escolaridade === 'Ensino médio' ? 'selected' : '' %>>Ensino médio</option>
          <option value="Ensino técnico" <%= vaga.escolaridade === 'Ensino técnico' ? 'selected' : '' %>>Ensino técnico</option>
          <option value="Ensino superior" <%= vaga.escolaridade === 'Ensino superior' ? 'selected' : '' %>>Ensino superior</option>
          <option value="Pós-graduação" <%= vaga.escolaridade === 'Pós-graduação' ? 'selected' : '' %>>Pós-graduação</option>
        </select>

        <label for="idiomas">Idiomas:</label>
        <select id="idiomas" name="idiomas[]" multiple>
          <option value="Português" <%= vaga.idiomas.includes('Português') ? 'selected' : '' %>>Português</option>
          <option value="Inglês" <%= vaga.idiomas.includes('Inglês') ? 'selected' : '' %>>Inglês</option>
          <option value="Espanhol" <%= vaga.idiomas.includes('Espanhol') ? 'selected' : '' %>>Espanhol</option>
          <option value="Francês" <%= vaga.idiomas.includes('Francês') ? 'selected' : '' %>>Francês</option>
          <option value="Alemão" <%= vaga.idiomas.includes('Alemão') ? 'selected' : '' %>>Alemão</option>
          <option value="Italiano" <%= vaga.idiomas.includes('Italiano') ? 'selected' : '' %>>Italiano</option>
          <option value="Mandarim" <%= vaga.idiomas.includes('Mandarim') ? 'selected' : '' %>>Mandarim</option>
          <option value="Japonês" <%= vaga.idiomas.includes('Japonês') ? 'selected' : '' %>>Japonês</option>
          <option value="Árabe" <%= vaga.idiomas.includes('Árabe') ? 'selected' : '' %>>Árabe</option>
        </select>

        <label for="beneficios">Benefícios:</label>
        <select id="beneficios" name="beneficios[]" multiple required>
          <option value="Vale alimentação" <%= vaga.beneficios.includes('Vale alimentação') ? 'selected' : '' %>>Vale alimentação</option>
          <option value="Vale refeição" <%= vaga.beneficios.includes('Vale refeição') ? 'selected' : '' %>>Vale refeição</option>
          <option value="Plano médico" <%= vaga.beneficios.includes('Plano médico') ? 'selected' : '' %>>Plano médico</option>
          <option value="Plano odontológico" <%= vaga.beneficios.includes('Plano odontológico') ? 'selected' : '' %>>Plano odontológico</option>
          <option value="Vale transporte" <%= vaga.beneficios.includes('Vale transporte') ? 'selected' : '' %>>Vale transporte</option>
          <option value="Seguro de vida" <%= vaga.beneficios.includes('Seguro de vida') ? 'selected' : '' %>>Seguro de vida</option>
          <option value="Auxílio creche" <%= vaga.beneficios.includes('Auxílio creche') ? 'selected' : '' %>>Auxílio creche</option>
          <option value="Participação nos lucros" <%= vaga.beneficios.includes('Participação nos lucros') ? 'selected' : '' %>>Participação nos lucros</option>
        </select>

        <button type="submit">Salvar Alterações</button>
      </form>
    </div>
  </div>
  <%- include('../partials/footer') %> 