<%- include('./header') %>
  
  <style>
    .degrade-header {
      background: linear-gradient(to top right, #0d0b0a, #2c1b17, #5a1e12);
      height: 350px;
      width: 100%;
      border-radius: 0px 0px 77px 77px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .content-degrade-header {
      max-width: 1200px;
      padding: 180px 50px;
      width: 100%;
  }
  .linha-branca {
      height: 1px;
      width: 100%;
      background-color: white;
      margin-bottom: 20px;
  }
  .degrade-breadcrumb {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .degrade-breadcrumb h1 {
      color: white;
      font-size: 47px;
      font-weight: 300;
  }
  .links-bread a {
      text-decoration: none;
      color: white;
      font-size: 16px;
  }
  .links-bread span {
      color: #FF5E00;
  }
  </style>
  <div class="degrade-header">
    <div class="content-degrade-header">
      <div class="linha-branca"></div>
      <div class="degrade-breadcrumb">
        <div class="links-bread">
          <a href="">Início</a> <span>/</span> <a href="">Área do Candidato</a>
        </div>
        <h1>Área do Candidato</h1>
      </div>
    </div>
  </div>
  <section class="candidato-superior-novo">
    <div class="main-dashboard-candidato-novo">

      <div class="lancar-cursos-novo">
        <a href="/candidato/lancar-experiencia">Lançar Experiência</a>
        <a href="/candidato/lancar-curso">Lançar Curso</a>
        <a href="/candidato/metas" class="btn-minhas-metas">Minhas Metas</a>
      </div>

      <div class="cabecalho-candidato-novo">
        <h1>Bem-vindo, <%= candidato.nomeCompleto %>!</h1>
      </div>
      <div class="meus-dados-novo">
        <div class="editar-dados-novo">
          <a href="/candidato/editar-dados">Editar Meus Dados</a>
        </div>

        <p><strong>CPF:</strong>
          <%= candidato.cpf %>
        </p>
        <p><strong>E-mail:</strong>
          <%= candidato.email %>
        </p>
        <p><strong>Telefone:</strong>
          <%= candidato.telefone %>
        </p>
        <p><strong>Endereço:</strong>
          <%= candidato.logradouro %>, <%= candidato.complemento %>, <%= candidato.numero %>, <%= candidato.bairro %> -
                  <%= candidato.cep %>, <%= candidato.cidade %> / <%= candidato.uf %>
        </p>

        
        
      </div>


      <div class="vagas-aprovadas-novo">
        <h2>Vagas em que você foi aprovado</h2>
        <% if (vagasAprovadas.length> 0) { %>
          <ul>
            <% vagasAprovadas.forEach(vaga=> { %>
              <li>
                <h3>
                  <%= vaga.titulo %>
                </h3>
                <p><strong>Faixa Salarial:</strong>
                  <%= vaga.faixaSalarial %>
                </p>
                <p><strong>Empresa:</strong>
                  <%= vaga.empresa.nomeFantasia %>
                </p>
                <div class="buttons-aprovado-novo">
                  <a href="/empresa/perfil/<%= vaga.empresa.id %>" class="btn btn-info-novo">perfil da empresa</a>
                  <% if (vaga.jaAvaliada) { %>
                    <button disabled class="btn btn-secondary-novo">Avaliação enviada</button>
                    <% } else { %>
                      <a href="/candidato/vagas/<%= vaga.id %>/avaliar" class="btn btn-success-novo">Avaliar Empresa</a>
                      <% } %>
                </div>
              </li>
              <% }); %>
          </ul>
          <% } else { %>
            <p>Você ainda não foi aprovado em nenhuma vaga.</p>
            <% } %>
      </div>

    </div>
  </section>

  <%- include('../partials/footer') %>