<%- include('./header') %>

<style>
  .degrade-header {
    background: linear-gradient(to top right, #0d0b0a, #2c1b17, #5a1e12);
    height: 350px;
    width: 100%;
    border-radius: 0px 0px 77px 77px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-degrade-header {
    max-width: 1200px;
    padding: 180px 50px;
    width: 100%;
}
.linha-branca {
    height: 1px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
}
.degrade-breadcrumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.degrade-breadcrumb h1 {
    color: white;
    font-size: 47px;
    font-weight: 300;
}
.links-bread a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.links-bread span {
    color: #FF5E00;
}
</style>
<div class="degrade-header">
  <div class="content-degrade-header">
    <div class="linha-branca"></div>
    <div class="degrade-breadcrumb">
      <div class="links-bread">
        <a href="">Início</a> <span>/</span> <a href="">Área do Candidato</a>
      </div>
      <h1>Área do Candidato</h1>
    </div>
  </div>
</div>

          <form action="/candidato/lancar-curso" method="POST">
            <label for="instituicao">Instituição:</label>
            <input type="text" id="instituicao" name="instituicao" required>

            <label for="curso">Curso:</label>
            <input type="text" id="curso" name="curso" required>

            <label for="dataInicio">Data de Início:</label>
            <input type="date" id="dataInicio" name="dataInicio" required>

            <label for="dataConclusao">Data de Conclusão:</label>
            <input type="date" id="dataConclusao" name="dataConclusao">

            <button type="submit">Salvar Curso</button>
          </form>

          <hr>

          <h2>Meus Cursos</h2>
          <ul>
            <% if (cursos.length> 0) { %>
              <% cursos.forEach(curso=> { %>
                <li>
                  <strong>
                    <%= curso.curso %>
                  </strong> - <%= curso.instituicao %>
                    (<%= curso.dataInicio.toLocaleDateString() %> a
                      <%= curso.dataConclusao ? curso.dataConclusao.toLocaleDateString() : 'Atual' %>)
                        <form action="/candidato/lancar-curso/excluir/<%= curso.id %>" method="POST"
                          style="display: inline;">
                          <button class="excl" type="submit"
                            onclick="return confirm('Tem certeza que deseja excluir este curso?')">Excluir</button>
                        </form>
                </li>
                <% }) %>
                  <% } else { %>
                    <p>Você ainda não listou nenhum curso.</p>
                    <% } %>
          </ul>

        </div>
      </div>
    </div>
  </section>
  <%- include('../partials/footer') %>