<%- include('./header') %>
    <style>
        .editar-dados {
            margin-bottom: 12px;
        }

        .vagas-disponiveis h2 {
            color: white;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .vagas-disponiveis input {
            width: 55%;
            padding: 10px;
        }

        .vagas-disponiveis button {
            background: #F78E0F;
            color: white;
            border: none;
            font-size: 16px;
            padding: 10px 20px;
        }

        .pagination {
            display: flex;
            text-align: center;
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        .listavagas {
            display: flex;
            gap: 50px;
            justify-content: space-between;
            flex-direction: column;
        }

        .listavagas li {
            background: white;
            padding: 20px;
        }

        .listavagas h3 {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .listavagas strong {
            font-weight: bold;
        }

        button {
            cursor: pointer;
        }

        .listavagas li p {
            margin-bottom: 7px;
        }

        .vagas-candidatadas h2 {
            color: white;
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 25px;
        }

        .vagas-candidatadas li {
            background: white;
            padding: 20px;
        }

        .vagas-candidatadas ul {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        .vagas-candidatadas h3 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 12px;
        }

        .vagas-candidatadas strong {
            font-weight: bold;
        }

        .vagas-candidatadas p {
            margin-bottom: 10px;
        }

        .vagas-aprovadas li {
            background-color: white;
            padding: 20px;
        }

        .vagas-aprovadas h2 {
            color: white;
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .vagas-aprovadas h3 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 12px;
        }

        .vagas-aprovadas p {
            margin-bottom: 10px;
        }

        .vagas-aprovadas strong {
            font-weight: bold;
        }

        .vagas-aprovadas a {
            color: black;
        }

        /* Estilo para o botão de candidatura já realizada */
        .candidated {
            background: red !important;
            color: white;
            border: none;
            cursor: not-allowed;
        }

        .prazo-info {
            margin-top: 10px;
        }

        .prazo {
            padding: 5px 10px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
        }

        .prazo.normal {
            background: #2ecc71;
            color: white;
        }

        .prazo.urgente {
            background: #e74c3c;
            color: white;
            animation: pulse 2s infinite;
        }

        @keyframes pulse {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0.7;
            }
            100% {
                opacity: 1;
            }
        }

        .horario-trabalho {
            background: #404040;
            border-radius: 8px;
            padding: 15px;
            margin: 10px 0;
            color: #ccc;
        }

        .horario-trabalho strong {
            color: #fff;
            display: block;
            margin-bottom: 8px;
        }

        .horario-trabalho span {
            display: block;
            line-height: 1.6;
            color: #ccc;
            white-space: pre-line;
            margin-left: 10px;
            font-size: 14px;
        }

        .horario-trabalho span br {
            content: "";
            display: block;
            margin-bottom: 5px;
        }
    </style>
    <style>
        .autocomplete-suggestions {
          border: 1px solid #ccc;
          max-height: 150px;
          overflow-y: auto;
          position: absolute;
          background-color: #fff;
          z-index: 1000;
        }
        .autocomplete-suggestions div {
          padding: 8px;
          cursor: pointer;
        }
        .autocomplete-suggestions div:hover {
          background-color: #f0f0f0;
        }
        .botoes-vagas-disponiveis {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;
        }
        .btn-info {
            color: black;
        }
        .vagas-disponiveis select {
            padding: 10px;
        }
        .filtros form {
            display: flex;
            width: 100%;
            margin-bottom: 20px;
        }
        .cbusca {
            width: 100%;
        }
        .cbusca input {
            width: 100% !important;
        }
        @media (max-width: 980px) {
            .vagas-disponiveis input {
                width: 93% !important;
            }
            .vagas-disponiveis form {
                margin-bottom: 20px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
            }
            .autocomplete-suggestions {
                position: unset;
            }
            .filtro-item, .filtro-item input, .filtro-item select {
                width: 100%;
            }
        }
      </style>
      
    <section class="candidato-superior">
        <div class="main-dashboard-candidato">
            <div class="vagas-disponiveis">
                <h2>Vagas Disponíveis</h2>
                <div class="filtros">
                  <form action="/candidato/vagas" method="GET" class="form-filtros">
                    <div class="filtro-item cbusca">
                      <input type="text" name="busca" placeholder="Buscar vagas..." value="<%= busca %>">
                    </div>

                    <div class="filtro-item">
                      <select name="faixaSalarial">
                        <option value="">Faixa Salarial</option>
                        <option value="Até 2.000" <%= faixaSalarial === 'Até 2.000' ? 'selected' : '' %>>Até 2.000</option>
                        <option value="A partir de R$ 2.000,00" <%= faixaSalarial === 'A partir de R$ 2.000,00' ? 'selected' : '' %>>A partir de R$ 2.000,00</option>
                        <option value="A partir de R$ 3.000,00" <%= faixaSalarial === 'A partir de R$ 3.000,00' ? 'selected' : '' %>>A partir de R$ 3.000,00</option>
                        <option value="A partir de R$ 4.000,00" <%= faixaSalarial === 'A partir de R$ 4.000,00' ? 'selected' : '' %>>A partir de R$ 4.000,00</option>
                        <option value="A partir de R$ 5.000,00" <%= faixaSalarial === 'A partir de R$ 5.000,00' ? 'selected' : '' %>>A partir de R$ 5.000,00</option>
                        <option value="A partir de R$ 6.000,00" <%= faixaSalarial === 'A partir de R$ 6.000,00' ? 'selected' : '' %>>A partir de R$ 6.000,00</option>
                        <option value="A partir de R$ 7.000,00" <%= faixaSalarial === 'A partir de R$ 7.000,00' ? 'selected' : '' %>>A partir de R$ 7.000,00</option>
                        <option value="A partir de R$ 8.000,00" <%= faixaSalarial === 'A partir de R$ 8.000,00' ? 'selected' : '' %>>A partir de R$ 8.000,00</option>
                        <option value="A partir de R$ 9.000,00" <%= faixaSalarial === 'A partir de R$ 9.000,00' ? 'selected' : '' %>>A partir de R$ 9.000,00</option>
                        <option value="A partir de R$ 10.000,00" <%= faixaSalarial === 'A partir de R$ 10.000,00' ? 'selected' : '' %>>A partir de R$ 10.000,00</option>
                        <option value="A partir de R$ 15.000,00" <%= faixaSalarial === 'A partir de R$ 15.000,00' ? 'selected' : '' %>>A partir de R$ 15.000,00</option>
                        <option value="A partir de R$ 20.000,00" <%= faixaSalarial === 'A partir de R$ 20.000,00' ? 'selected' : '' %>>A partir de R$ 20.000,00</option>
                      </select>
                    </div>

                    <div class="filtro-item">
                      <select name="tipoContrato">
                        <option value="">Tipo de Contrato</option>
                        <option value="CLT" <%= tipoContrato === 'CLT' ? 'selected' : '' %>>CLT</option>
                        <option value="PJ" <%= tipoContrato === 'PJ' ? 'selected' : '' %>>PJ</option>
                        <option value="Estágio" <%= tipoContrato === 'Estágio' ? 'selected' : '' %>>Estágio</option>
                        <option value="Temporário" <%= tipoContrato === 'Temporário' ? 'selected' : '' %>>Temporário</option>
                        <option value="Autônomo" <%= tipoContrato === 'Autônomo' ? 'selected' : '' %>>Autônomo</option>
                        <option value="Freelancer" <%= tipoContrato === 'Freelancer' ? 'selected' : '' %>>Freelancer</option>
                        <option value="Aprendiz" <%= tipoContrato === 'Aprendiz' ? 'selected' : '' %>>Aprendiz</option>
                      </select>
                    </div>

                    <div class="filtro-item">
                      <select name="vagaPcd">
                        <option value="">Todas as Vagas</option>
                        <option value="Sim" <%= vagaPcd === 'Sim' ? 'selected' : '' %>>Vagas PCD</option>
                        <option value="Não" <%= vagaPcd === 'Não' ? 'selected' : '' %>>Vagas não PCD</option>
                      </select>
                    </div>

                    <div class="filtro-item">
                      <select name="uf">
                        <option value="">Todos os Estados</option>
                        <option value="AC" <%= uf === 'AC' ? 'selected' : '' %>>Acre</option>
                        <option value="AL" <%= uf === 'AL' ? 'selected' : '' %>>Alagoas</option>
                        <option value="AP" <%= uf === 'AP' ? 'selected' : '' %>>Amapá</option>
                        <option value="AM" <%= uf === 'AM' ? 'selected' : '' %>>Amazonas</option>
                        <option value="BA" <%= uf === 'BA' ? 'selected' : '' %>>Bahia</option>
                        <option value="CE" <%= uf === 'CE' ? 'selected' : '' %>>Ceará</option>
                        <option value="DF" <%= uf === 'DF' ? 'selected' : '' %>>Distrito Federal</option>
                        <option value="ES" <%= uf === 'ES' ? 'selected' : '' %>>Espírito Santo</option>
                        <option value="GO" <%= uf === 'GO' ? 'selected' : '' %>>Goiás</option>
                        <option value="MA" <%= uf === 'MA' ? 'selected' : '' %>>Maranhão</option>
                        <option value="MT" <%= uf === 'MT' ? 'selected' : '' %>>Mato Grosso</option>
                        <option value="MS" <%= uf === 'MS' ? 'selected' : '' %>>Mato Grosso do Sul</option>
                        <option value="MG" <%= uf === 'MG' ? 'selected' : '' %>>Minas Gerais</option>
                        <option value="PA" <%= uf === 'PA' ? 'selected' : '' %>>Pará</option>
                        <option value="PB" <%= uf === 'PB' ? 'selected' : '' %>>Paraíba</option>
                        <option value="PR" <%= uf === 'PR' ? 'selected' : '' %>>Paraná</option>
                        <option value="PE" <%= uf === 'PE' ? 'selected' : '' %>>Pernambuco</option>
                        <option value="PI" <%= uf === 'PI' ? 'selected' : '' %>>Piauí</option>
                        <option value="RJ" <%= uf === 'RJ' ? 'selected' : '' %>>Rio de Janeiro</option>
                        <option value="RN" <%= uf === 'RN' ? 'selected' : '' %>>Rio Grande do Norte</option>
                        <option value="RS" <%= uf === 'RS' ? 'selected' : '' %>>Rio Grande do Sul</option>
                        <option value="RO" <%= uf === 'RO' ? 'selected' : '' %>>Rondônia</option>
                        <option value="RR" <%= uf === 'RR' ? 'selected' : '' %>>Roraima</option>
                        <option value="SC" <%= uf === 'SC' ? 'selected' : '' %>>Santa Catarina</option>
                        <option value="SP" <%= uf === 'SP' ? 'selected' : '' %>>São Paulo</option>
                        <option value="SE" <%= uf === 'SE' ? 'selected' : '' %>>Sergipe</option>
                        <option value="TO" <%= uf === 'TO' ? 'selected' : '' %>>Tocantins</option>
                      </select>
                    </div>

                    <div class="filtro-item">
                      <button type="submit">Filtrar</button>
                    </div>
                  </form>
                </div>
                

                <% if (vagasDisponiveis.length> 0) { %>
                    <ul class="listavagas">
                        <% vagasDisponiveis.forEach(vaga=> { %>
                            <% const dataLimite = new Date(vaga.dataLimite); %>
                            <% const diasRestantes = Math.ceil((dataLimite - currentDate) / (1000 * 60 * 60 * 24)); %>
                            <li>
                                <h3>
                                    <%= vaga.titulo %>
                                </h3>
                                <p class="vaga-descrita"><%- vaga.descricao.replace(/\n/g, '<br>') %></p>
                                <p><strong>Cargo/Função:</strong>
                                    <%= vaga.cargo %>
                                </p>
                                <p><strong>Horário de Trabalho:</strong> <span class="vaga-descrita"><%- (vaga.horarioTrabalho || 'Não especificado').replace(/\n/g, '<br>') %></span></p>
                                <p><strong>Salário:</strong>
                                    <%= vaga.faixaSalarial %>
                                </p>
                                <div class="botoes-vagas-disponiveis">
                                    <form action="/candidato/candidatar" method="POST">
                                        <input type="hidden" name="vagaId" value="<%= vaga.id %>">
                                        <% if (vagasCandidatadasIds.includes(vaga.id)) { %>
                                          <button type="button" class="btn btn-secondary candidated" disabled>Já Candidatado</button>
                                        <% } else { %>
                                          <button type="submit" class="btn btn-primary">Candidatar-se</button>
                                        <% } %>
                                      </form>
                                      <a href="/candidato/vagas/<%= vaga.id %>/detalhes" class="btn btn-info">Ver mais detalhes</a>
                                </div>
                                <div class="prazo-info">
                                    <% if (diasRestantes > 7) { %>
                                        <span class="prazo normal">Prazo: <%= dataLimite.toLocaleDateString('pt-BR') %></span>
                                    <% } else if (diasRestantes > 1) { %>
                                        <span class="prazo urgente">Últimos <%= diasRestantes %> dias para se candidatar!</span>
                                    <% } else if (diasRestantes === 1) { %>
                                        <span class="prazo urgente">Último dia para se candidatar!</span>
                                    <% } %>
                                </div>
                            </li>
                            <% }); %>
                    </ul>

                    <nav>
                        <ul class="pagination">
                            <% for (let i=1; i <=totalPages; i++) { %>
                                <li class="<%= i === currentPage ? 'active' : '' %>">
                                    <a href="/candidato/vagas?page=<%= i %>&busca=<%= busca %>">
                                        <%= i %>
                                    </a>
                                </li>
                                <% } %>
                        </ul>
                    </nav>
                    <% } else { %>
                        <p>Nenhuma vaga disponível.</p>
                        <% } %>
            </div>
        </div>
    </section>

    <script src="/js/autocomplete.js"></script>

    <%- include('../partials/footer') %>